@using System.Web.WebPages;
@using InstructorCalendar;
@using InstructorCalendar.DataStore.CommandModels;
@using InstructorCalendar.DataStore.QueryModels;

@{
    Layout = "_Layout.cshtml";
    string schedule = "";
    string json = "";
    string[] lines = { };
    List<CourseData> courses = new List<CourseData>();
    List<ScheduledCourse> output = new List<ScheduledCourse>();

    if (IsPost)
    {
        schedule = Request["schedule"];
        courses = InstructorCalendar.DataStore.CalendarRepository.Create().ParseInstructorSchedule(schedule);

        output = InstructorCalendar.DataStore.CalendarRepository.Create().GenerateCalendarGraph(courses);

        DateTime startOfWeek = DateTime.Today.AddDays(-1 * (int)(DateTime.Today.DayOfWeek));
        var events = from item in output
                        select new
                        {
                            title = item.CourseNumber + " - " + item.Section + " - " + item.RoomNumber,
                            start = startOfWeek.AddDays((int)item.MeetingDay).Add(item.Start).ToString(),
                            end = startOfWeek.AddDays((int)item.MeetingDay).Add(item.End).ToString(),
                        };
        System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();
        json = js.Serialize(events.ToArray());
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Instructor Calendar</h1>

            <form method="post">
                <label>Instructor Schedule (From Student Administration):</label>
                <br />
                <textarea name="schedule" class="form-control" rows="15">@schedule</textarea>
                <br />
                <button type="submit">Parse Schedule</button>
            </form>
            <hr />
            @if (IsPost)
            {
                <div ng-app="App">
                    <script>
                        var eventData = JSON.parse('@Html.Raw(json)');
                        console.log(eventData);
                        var app = angular.module('App', ['ui.calendar']);
                        app.controller('MyDataController', function ($scope) {
                            function reparsefunction() {
                                var events = [];
                                for (var i = 0; i < eventData.length; i++) {
                                    var startDate = new Date(eventData[i].start);
                                    var endDate = new Date(eventData[i].end);
                                    events.push({
                                        title: eventData[i].title,
                                        start: startDate,
                                        end: endDate
                                    });
                                }
                                return events;
                            };
                            $scope.eventInfo = [reparsefunction()];
                            $scope.uiConfig = {
                                calendar: {
                                    defaultView: 'agendaWeek',
                                    views: {
                                        agenda: {
                                            minTime: "08:00:00",
                                            maxTime: "18:00:00"
                                        }
                                    },
                                    editable: false,
                                    height: 570,
                                    editable: true,
                                    header:{
                                        //left: 'agendaWeek',
                                        left: 'month basicWeek basicDay agendaWeek agendaDay',
                                        center: 'title',
                                        right: 'today prev,next'
                                    }
                                }
                            };
                        });

                    </script>
                    <div ng-controller="MyDataController">
                        <div ui-calendar="uiConfig.calendar" ng-model="eventInfo" calendar="myCalendar"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
